<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tecnoratones.mgtest.dao.TbCuentaMapper" >
  <resultMap id="BaseResultMap" type="com.tecnoratones.mgtest.model.TbCuenta" >
    <id column="CUENTA" property="CUENTA" jdbcType="DECIMAL" />
    <result column="CUENTA_SALDO" property="CUENTA_SALDO" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    CUENTA, CUENTA_SALDO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from TB_CUENTA
    where CUENTA = #{CUENTA,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from TB_CUENTA
    where CUENTA = #{CUENTA,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.tecnoratones.mgtest.model.TbCuenta" >
    insert into TB_CUENTA (CUENTA, CUENTA_SALDO)
    values (#{CUENTA,jdbcType=DECIMAL}, #{CUENTA_SALDO,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.tecnoratones.mgtest.model.TbCuenta" >
    insert into TB_CUENTA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CUENTA != null" >
        CUENTA,
      </if>
      <if test="CUENTA_SALDO != null" >
        CUENTA_SALDO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CUENTA != null" >
        #{CUENTA,jdbcType=DECIMAL},
      </if>
      <if test="CUENTA_SALDO != null" >
        #{CUENTA_SALDO,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tecnoratones.mgtest.model.TbCuenta" >
    update TB_CUENTA
    <set >
      <if test="CUENTA_SALDO != null" >
        CUENTA_SALDO = #{CUENTA_SALDO,jdbcType=DECIMAL},
      </if>
    </set>
    where CUENTA = #{CUENTA,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tecnoratones.mgtest.model.TbCuenta" >
    update TB_CUENTA
    set CUENTA_SALDO = #{CUENTA_SALDO,jdbcType=DECIMAL}
    where CUENTA = #{CUENTA,jdbcType=DECIMAL}
  </update>
  
  
  
  <select id="listaCuenta" resultMap="BaseResultMap">
  select * from TB_CUENTA
  </select>
  
  
  
</mapper>